<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>485620063</real>
		<key>sheetClusters</key>
		<dict>
			<key>2014-07-28-kaipian.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-07-29-framer.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-15-work.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-28-web-font.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-01-03-new-plan.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-13-sketch2font.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-04-29-apple-watch-icon-templates.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-04-30-my-app-list.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-28-mac-bash-profile.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-09-remove-sketch-memory.md</key>
			<dict>
				<key>lastModification</key>
				<real>485620063</real>
				<key>version</key>
				<dict>
					<key>legacy-485620063.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-01-15-homebrew.md</key>
			<dict>
				<key>lastModification</key>
				<real>491214936.806867</real>
				<key>version</key>
				<dict>
					<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2016-01-31-sublimetext_plugin.md</key>
			<dict>
				<key>lastModification</key>
				<real>491214936.80686599</real>
				<key>version</key>
				<dict>
					<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2016-07-26-c4d.md</key>
			<dict>
				<key>lastModification</key>
				<real>491215646.07682699</real>
				<key>version</key>
				<dict>
					<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
					<integer>19</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>491215018.772798</real>
		<key>userIconName</key>
		<real>485620063</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-07-26-c4d.md</string>
		</array>
		<array>
			<string>2014-07-28-kaipian.md</string>
		</array>
		<array>
			<string>2014-07-29-framer.md</string>
		</array>
		<array>
			<string>2014-12-15-work.md</string>
		</array>
		<array>
			<string>2014-12-28-web-font.md</string>
		</array>
		<array>
			<string>2015-01-03-new-plan.md</string>
		</array>
		<array>
			<string>2015-02-13-sketch2font.md</string>
		</array>
		<array>
			<string>2015-04-29-apple-watch-icon-templates.md</string>
		</array>
		<array>
			<string>2015-04-30-my-app-list.md</string>
		</array>
		<array>
			<string>2015-06-09-remove-sketch-memory.md</string>
		</array>
		<array>
			<string>2015-05-28-mac-bash-profile.md</string>
		</array>
		<array>
			<string>2016-01-31-sublimetext_plugin.md</string>
		</array>
		<array>
			<string>2016-01-15-homebrew.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Notes</string>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
			<integer>20</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
			<integer>12</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>6147a9384d0ec1f8dd86f53d46f13a7830d41b5c994c1748f6c595d7c1e45ec1</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
