<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-07-28-kaipian.md</string>
		</array>
		<array>
			<string>2014-07-29-framer.md</string>
		</array>
		<array>
			<string>2014-12-15-work.md</string>
		</array>
		<array>
			<string>2014-12-28-web-font.md</string>
		</array>
		<array>
			<string>2015-01-03-new-plan.md</string>
		</array>
		<array>
			<string>2015-02-13-sketch2font.md</string>
		</array>
		<array>
			<string>2015-04-29-apple-watch-icon-templates.md</string>
		</array>
		<array>
			<string>2015-04-30-my-app-list.md</string>
		</array>
		<array>
			<string>2015-06-09-remove-sketch-memory.md</string>
		</array>
		<array>
			<string>2015-05-28-mac-bash-profile.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Notes</string>
</dict>
</plist>
